dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
/.vs/config/applicationhost.config
/.vs/solitaire_FP/v15/.suo
/.vs/tasks.vs.json
/.vs/VSWorkspaceState.json
/.vs/config/applicationhost.config
